/**Apresentaçao **/
*{
    color: white;
}
.apresentacao{
    padding-top: 70px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,#a2aed4 -0%, #132C83 15%, #2A438C 80%);
}
.exposicao{
    display: flex;
    justify-content: center;
}
.exposicao-img{
    height: 670;
    margin-right: 20px;
}
.exposicao-direcao{
    flex-direction: column;
    margin-left: 20px;
}
.apresentacao .exposicao-texto{
    width: 550px;
    font-size: 15px;
    margin-top: 10px;
}
.agendamento{
    padding-top: 70px;
    background: linear-gradient(180deg, #2A438C 0%,#132C83 90%,  #455B9C 100%);
}
/**Agendamento**/
.agendamento-titulo h1{
    text-align: center;
    align-items: center;
}
.cards-agendamento{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-agendamento{
    background: #1B3C93;
    border-radius: 12px;
    padding: 30px 20px 0 20px;
    width: 600px;  
    height: 300px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; 
    box-shadow: 2px 2px 20px 2px white;
}
.olaaaa{
    margin-left: 50px;
    padding-left:50px ;
}
#metros{
    width: 150px;
    border-radius: 5px;
    height: 30px;
    background:white;
    margin-top: 5px;
    color: black;
    padding-left: 5px;
}
.card-agendamento .metros-agendamento input::placeholder{
    color: grey;
    font-size: 12px;
}
.pagarvalor p span{
    height: 30px;
    width: 100px;
    background: white;
    padding: 1px 2px;
    margin-left: 3px;
    border-radius: 5px;
    color: black;
}
